@import url('https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.0-alpha1/css/bootstrap.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css');

body {
    background-color: black;
    color: white;
}

a {
    color: orange;
    text-decoration: none;
}

a:hover {
    color: orangered;
}

.cover {
    max-width: 42rem;
}

.card {
    background-color: black;
    color: black;
    border-color: white;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
}

.clicked {
    color: white!important;
}

.score {
    color: orange!important;
}